[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "liblokey"]
	path = external/liblokey
	url = git@github.com:jbsohn/liblokey.git
[submodule "ymfm"]
	path = external/ymfm
	url = https://github.com/jbsohn/ymfm.git
